# .gitignore

# Pythonのキャッシュ
__pycache__/
*.pyc

# 仮想環境フォルダ
.venv/
venv/

# Streamlit secrets file
.streamlit/
*.faiss
*.faiss
logs/email_cron.log
logs/auto_matcher_cron.log
logs/auto_matcher_cron.log
logs/auto_matcher_cron.log
